/* start CSS reset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end CSS reset                                          */


/* start of my code                                       */

body {
	background: #FAFAFA;
	color: #333333;
	font-family: Oswald;
}

#container {
	display: block;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

header {
	display: block;
	width: 100%;
	height: 100px;
	position: relative;
	margin: 25px 0px;
}

h1 {
	font-size: 60px;
	letter-spacing: 3px;
	margin: 10px 0px -15px 20px;
	font-weight: 700;
}

h2 {
	font-size: 22px;
	margin-left: 247px;
	margin-top: 12px;
}

a {
	text-decoration: none;
	color: inherit;
}

header nav{
	position: absolute;
	font-size: 20px;
	top: 40px;
	right: 30px;
}

header nav a {
	margin: 0px 9px;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline;
}

#content {
	font-family: 'Open Sans';
	display: block;
	width: 100%;
}

#content div {
}

#about {
	width: 600px;
	margin: 75px auto;
	padding: 0px 204px;
	text-align: justify;
}

#resume {
}


#about div {
	display: inline-block;
	width: 190px;
	height: 250px;
	margin: 25px 35px;
	text-align: center;
}

#about img {
	display: block;
	width: 250px;
	margin: 15px auto 30px auto;
	border-radius: 100%;
}

h3{
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	margin: 50px 0px;
	font-family: Oswald;
	text-transform: uppercase;
}

#portfolio a {
	width: 602px;
	display: block;
	position: relative;
	margin: 40px auto;
}

#portfolio img {
	display: block;
	border: 1px solid #50504A;
	opacity: 1;
	transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

#portfolio a:hover>img {
	opacity: 0.1;
}

#portfolio a:hover>.details {
	display: block;
}

.details {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 120px 0px;
	font-weight: 700;
}


p {
	font-size: 14px;
	padding-top: 10px;
}

#connect {
	margin: 100px auto;
}

#connect ul {
	margin: 0px 408px;
}

footer {
	display: block;
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 45px;
	text-align: center;
	font-size: 14px;
}

ul img {
	width: 75px;
	margin: 25px;
}


/* animations*/

/* link effects*/
.link-effect a {
	padding: 8px 0;
}

.link-effect a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0,0,0,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.link-effect a:hover::after,
.link-effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}